<table class="table">
	<% @article.comments.each do |comment| %>
	<tr>
		<td>Commenter :</td>
		<td><%= comment.commenter %></td>
	</tr>
	<tr>
		<td>Comment:</td>
		<td><%= comment.body %></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<%=
			link_to 'Delete Comment', [comment.article, comment],
					method: :delete,
					data: { confirm: 'Are you sure to delete this comment?'},
					:class => "btn btn-danger"
			%>
		</td>
	</tr>
	<% end %>
</table>