// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.borderless {
	td, th {
		border:none !important;
	}
}

.show-article {
	strong {
		font-size:18px;
	}
}

.textarea{
	height: 200px !important;
}